.Header {
    color: #FFF;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 15;
    background-color: black;

    .droite {
      display: flex;
      width: 50%;
      justify-content: space-between;

      .logo {
        border-right: 1px solid #FFF;
        padding-right: 1rem;
        margin-right: 1rem;
        
      }

      .barreRecherche {
        display: flex;
        gap: 0.5rem;
        input{
          border: none;
          border-radius: 25px;
          padding-left: 0.5rem;
          background-color: #ffffff58;
          width: 20rem;
          outline: none;
          color: #e1e1e1;
          &::placeholder{
            color: #ababab;
          }
        }
      }
    }

    ul {

      display: flex;
      list-style: none;
      gap: 1.5rem;

      a {
        text-decoration: none;
        color: #FFF;

        
      }
    }
  }