.lesfilms {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* Firefox */
}

.lesfilms::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}


.MovieSection {
  height: 100%;
  background-color: #0B0B0B;
  padding-bottom: 1rem;

  h1 {
    padding: 0.5rem;
    margin-left: 1.5rem;
    color: #FFF;
  }

  .sectionfilms,
  .sectionhorreur,
  .sectionFantaisie,
  .sectionAction,
  .sectionRomance,
  .sectionDrame {
    position: relative;
    width: 100%;
    height: 16rem;
    overflow: hidden;
    display: flex;
    align-items: center;

    .fleche,
    .flecheGauche {
      position: absolute;
      top: 50%;
      color: white;
      background-color: rgba(11, 11, 11, 0.55);
      font-size: 3rem;
      cursor: pointer;
      z-index: 2;
      box-shadow: 0px 0px 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 50%;
      padding: 0.5rem;
    }

    .fleche {
      right: 1rem;
    }

    .flecheGauche {
      left: 1rem;
    }


  }

  .lesfilms {
    height: 15rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    width: fit-content;
  }

  .voirPlus {
    width: 10rem;
    height: 100%;
    background-color: #861111;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    box-shadow: 0px 0px 4px 1px rgb(255, 30, 0);
    transition: 0.2s;

    &:hover {
      box-shadow: 0px 0px 8px 1px red;
      background-color: #b51616;
    }
  }

  .Movie {
    width: 10rem;
    height: 100%;
    background-color: #861111;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    flex-shrink: 0;

    .infofilm {
      height: 93%;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
      padding: 0.5rem;
      color: #FFF;
      position: relative;

      &:hover {
        backdrop-filter: blur(5px);
        border: 0.5px solid rgba(255, 255, 255, 0.65);
        opacity: 1;
      }

      button {
        background-color: #8b8b8b87;
        border: 0.5px solid #FFF;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.526);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        
        transition: 0.5s;

        &:hover{
          box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.833);
        }
      }
      
    }
  }
}