.Profile {
    min-height: 100vh;
    width: 100%;
    background-color: #0B0B0B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    .MonProfile {
        width: 50%;
        height: 50vh;
        background-color: rgba(74, 74, 74, 0.76);
        border-radius: 25px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .info {
            width: 100%;
            height: 70%;

            p {
                text-align: center;
            }
            h3{
                padding: 2rem;
            }

        }

        .buttonProfile {
            width: 100%;
            display: flex;
            justify-content: center;
            button {
                width: 35%;
                height: 2.5rem;
                background-color: #000000f8;
                color: #fff;
                border: 0.5px solid #9e9e9e;
                border-radius:20px ;
                font-size: 1.5rem;
                font-style: italic;
                font-weight: bold;
                transition: 0.3s;
                &:hover{
                    background-color: #fbfbfb;
                    color: #3a3a3a;
                    box-shadow: 0px 0px 5px 3px #FFF;
                    border:none;
                }
            }
        }
    }
}