.UnFilm {
    background-color: #0B0B0B;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;

    .image {
        width: 100%;
        height: 90vh;
        background-color: rgb(172, 200, 224);
        display: flex;
        align-items: flex-end;
        overflow: hidden;


        .descriptionSec {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
            width: 65%;
            height: 100%;
            position: absolute;

            .desc {
                width: 65%;
                min-height: 55%;
                padding: 3rem;

                h1 {
                    font-size: 4rem;
                    padding-bottom: 2rem;
                }

                h3 {
                    padding-top: 2rem;

                }

                .genre {
                    color: rgb(170, 11, 11);
                }
            }

        }

        .imageCont {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .cercle {
                height: 100%;
                width: 52%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }

    .review {
        min-height: 75vh;
        width: 100%;
    

    }

    .allComments {
        height: 65vh;
        width: 90%;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .myComment{
            width: 100%;
            background-color: beige;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }
        .comments{
            background-color: aqua;
            height: 100%;
            width: 100%;
        }
    }
}